name: CI_CD_FW

on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
  packages: write

jobs:
  use-reusable-workflow:
    uses: Gabriela-M-Silva/Esteiras-Devops/.github/workflows/esteira-teste-conexao.yaml@main
    with:
      project-directory: src/WindowsFormsApp_fw
      project-type: WindowsFormsApp
      build-configuration: Release
    
  # deploy:
  #   needs: use-reusable-workflow
  #   uses: MigracaoDotNetForms/ci-cd-pipelines/.github/workflows/release-deploy.yml@main
    # secrets: inherit