name: CI_CD_FW

on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
  packages: write

jobs:
  use-reusable-workflow:
    uses: MigracaoDotNetForms/ci-cd-pipelines/.github/workflows/reusable-build.yml@main
    secrets: inherit

  deploy:
    needs: use-reusable-workflow
    uses: MigracaoDotNetForms/ci-cd-pipelines/blob/main/.github/workflows/release-deploy.yml@main
    secrets: inherit